### Load the model and Predict the output value based on new input data

In [62]:
## Import libraries
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as py

In [63]:
## Load the Model - Onehot encoder for geopraphy, label encoder and model 
model=load_model("pickle/model.h5")

with open("pickle/lable_encoder_gen.pkl",'rb') as file:
    lable_encoder_gender=pickle.load(file)

with open("pickle/onehot_encoder_geo.pkl","rb") as file:
    onehot_encoder_geo=pickle.load(file)

with open("pickle/scaler.pkl","rb") as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [64]:
## Input Data
input_data = {
    'CreditScore': 700,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 1000000,
    'NumOfProducts': 3,
    'HasCrCard': 2,
    'IsActiveMember': 1,
    'EstimatedSalary': 60000,
}
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,700,France,Male,40,3,1000000,3,2,1,60000

In [65]:
#Convert Label data into numbercial - Geography
geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

d:\coding\mlcourse\EndtoEndANNProject\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [66]:
#Convert Label data into numbercial - Gender
input_df['Gender'] = lable_encoder_gender.transform(input_df['Gender'])

In [67]:

input_df = pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df], axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,700,1,40,3,1000000,3,2,1,60000,1.0,0.0,0.0

In [68]:
## Scaling the new input data
input_scaled = scaler.transform(input_df)
input_scaled

array([[ 0.49886581,  0.91186722,  0.10685843, -0.69164931, 14.79035293,
         2.53726612,  2.83865995,  0.96978946, -0.70646443,  1.00053348,
        -0.57776083, -0.57735027]])

In [69]:
## Predict the name
prediction=model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 87ms/step

array([[0.64849645]], dtype=float32)

In [70]:
prediction_proba = prediction[0][0]

In [71]:
prediction_proba

0.64849645

In [72]:
if prediction_proba > 0.5:
    print("The customer is likely Churn")
else:
    print("The Custoer is likely not Chrun")

The customer is likely Churn